@model IEnumerable<M17E_N23.Models.AlbunsModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Forquilha</h1>
    <p class="lead">Um site repleto de exemplos do que seria um website de reviews de álbuns.</p>
    <p><a href="/Albuns/Index" class="btn btn-primary btn-lg">Ver álbuns &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Top escritores</h2>
        <p>
            <table class="table" id="Resultado">
                <tr>
                    <th>
                        Reviews
                    </th>
                    <th>
                        Escritores
                    </th>
                  
             
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.nr)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.nome)
                        </td>
                      
                      
                      
                    </tr>
                }

            </table>
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>